@page
@model ProofOfConcept.Pages.IndexModel
    <html>
    <head><title>Dirty hacky Image transform dashboard</title>
    </head>
    <body>
        <h1 style="display: inline-block">Dirty Hacky Image Transform Dashboard</h1><i>Please don't judge this...</i>
        <div style="position: fixed; overflow: hidden;">
            <label for="imgName">Name: </label>
            <input id="imgName" type="text" oninput="updateImageLink()" placeholder="Enter image name" />

            <label for="imgMaxWidth">Max Width: </label>
            <input id="imgMaxWidth" type="number" oninput="updateImageLink()" placeholder="Enter max width" />

            <label for="imgMaxHeight">Max Height: </label>
            <input id="imgMaxHeight" type="number" oninput="updateImageLink()" placeholder="Enter max height" />

            <label for="imgFormat">Format: </label>
            <input id="imgFormat" type="text" oninput="updateImageLink()" placeholder="Enter image format" />

            <label for="imgColour">Colour: </label>
            <input id="imgColour" type="text" oninput="updateImageLink()" placeholder="Enter colour" />

            <label for="imgWatermark">Watermark: </label>
            <input id="imgWatermark" type="text" oninput="updateImageLink()" placeholder="Enter watermark" />

            <h3 id="imageLink"></h3>
            <a href="#" onclick="setBackground(); return false;">Set Background</a>|
            <a href="#" onclick="openNewTab(); return false;">Open in New Tab</a>
        </div>
        <div style="position: fixed; top: 12em; bottom: 0; left: 0; right: 0; overflow-y: scroll;">
            @if ((Model?.Items ?? new string[0]).Length > 0)
            {
                <h3>@Model.Items.Length items in source folder \atom-challence\images</h3>
                <ul>
                    @foreach (var item in Model.Items)
                    {
                        <li><a href="#" onclick="selectImage(this); return false;">@item</a></li>
                    }
                </ul>
            }
            else
            {
                <h3>No images in source folder</h3>
            }
        </div>
        <script>

            function selectImage(element) {
                var imageName = element.innerText;
                document.getElementById('imgName').value = imageName;
                updateImageLink();
            }

            function updateImageLink() {

                var imageLink = "images/";
                var imageFilename = encodeURIComponent(document.getElementById('imgName').value);
                imageLink += imageFilename;

                var params = {
                    w: document.getElementById('imgMaxWidth').value,
                    h: document.getElementById('imgMaxHeight').value,
                    b: document.getElementById('imgColour').value,
                    t: document.getElementById('imgWatermark').value
                };

                var format = document.getElementById('imgFormat').value;
                if (!format) format = imageFilename.split('.').pop();

                if (!params.w) delete params.w;
                if (!params.h) delete params.h;
                if (!params.b) delete params.b;
                if (!params.t) delete params.t;

                var esc = encodeURIComponent;
                var query = Object.keys(params)
                    .map(k => esc(k) + esc(params[k]))
                    .join('_');

                if (query) imageLink += "!" + query + "." + format;

                document.getElementById('imageLink').innerText = imageLink;
            }

            function setBackground() {

                var imageLink = document.getElementById('imageLink').innerText;
                document.body.style.backgroundImage = 'url("' + imageLink + '")';
                document.body.style.backgroundRepeat = "no-repeat";
                document.body.style.backgroundPosition = "center";
                document.body.style.backgroundAttachment = "fixed";
            }

            function openNewTab() {

                const imageLink = document.getElementById('imageLink').innerText;
                const img = '<img src="' + imageLink + '">';
                const newTab = window.open();
                newTab.document.write(img);
            }
        </script>
</body>
</html>